<header>
    <!-- <h1 style="text-align:center; font-size: 2.5em;"><a href="./">(/)</a></h1> -->
    <img class="logo" src="{{ "/assets/onion-logo.png" | relative_url }}" alt="Onion Site" />
    <div style="margin: auto; display: block; text-align: center;" >
      <div class="" style="flex: 1; margin-bottom: 1rem;">
        <a href="/en"><img class="flag" src="{{ "/assets/flags/gb.svg" | relative_url }}" alt="[en]"/></a>
        <a href="/se"><img class="flag" src="{{ "/assets/flags/se.svg" | relative_url }}" alt="[se]"/></a>
        <a href="/mk"><img class="flag" src="{{ "/assets/flags/mk.svg" | relative_url }}" alt="[mk]"/></a>
      </div>
      <div class="">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

        {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">[{{ my_page.title | escape }}]</a>
                {%- endif -%}
        {%- endfor -%}
        <!-- <a href="/">[home]</a> <a href="#about">[about]</a> <a href="#contact">[contact]</a> -->
      </div>
    </div>
</header>