@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

*:before,*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('ShareTechMono-Regular.ttf');
}

@font-face {
    font-family: 'Square';
    src: url('Menlo-Regular.ttf');
}

html {
    scroll-behavior: smooth;
    background-color: #161412;
    color: #ddd9d6;
}

a:link {
    color: #59316B;
    text-decoration: none;
}

a:hover {
  color: #7D4698;
  text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

.logo {
    text-align: center;
    max-height: 100px;
    padding-bottom: 1.5rem;
    margin: auto;
    display: block;
}

.flag {
    max-height: 15px;
}

.flag:hover {
    opacity: 0.7;
}

header {
    padding-top: 1rem;
}

hr {
    display: block;
    width: 100%;
    height: 2px;
    margin: 1.5rem auto;
    border: none;
    border-bottom: 2px dashed #59316B;
}
hr ~ * {
    clear: both;
}

body {
    max-width: 960px;
    margin: auto;
    padding: 0 15px 0 15px;
    min-height: 100%;
    height: 100%;
}

.copyright {
    padding-bottom: 20px;
}

footer {
    text-align: center;
    margin: auto;

}

blockquote {
	border-left: 10px solid rgba(251, 241, 199, 0.5);
	margin: 0;
	padding: 5px 10px;
}


table, td, th {
    border: 1px solid rgba(251, 241, 199, 0.5);
    padding: 10px;
}
  
table {
    overflow-x:auto;
    width: 100%;
    border-collapse: collapse;
}


p em {
	display: block;
	text-align: center;
	font-size: 80%;
	margin-top: 10px;
	color: #6d6c6c;
}

.page-content img {
	height: auto;
	display: block;
	margin: auto;
	width: 100%;
}

img.left {
	float: left;
	margin: 0.75rem 1rem 1rem 0;
}

img.right {
	float: right;
    text-align: justify;
	margin: 0.75rem 0 1rem 1rem;
}

.post-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social-media-list {
    display: inline-block;
    margin: auto;
    padding: 0;
    list-style: none;
}

.social-media-list li {
    float: left;
    padding: 5px;
}

.social-media-list li a {
    display: block;
    padding: 7.5px;
    text-decoration: none;
}

.social-links {
    color: white;
}

.social-links ul li {
    display:inline;
}

.svg-icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    fill: #e8e8e8;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}